.button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100px;
   height: 40px;
   border-radius: 10px;
   background-color: #3d3b3b;
   color: #fff;
   transition: all 0.3s ease-in;
   border: #3d3b3b 1px solid;
   font-size: 18px;
   box-shadow: 3px 10px 20px -1px rgba(0, 0, 0, 0.75);
   -webkit-box-shadow: 3px 10px 20px -1px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 3px 10px 20px -1px rgba(0, 0, 0, 0.75);
}


.button:hover {
   color: #3d3b3b;
   background-color: #fff;
}

.button:active {
   transform: translateY(2px);
   box-shadow: none
}